<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPrincipal">
<head>
	<title>Cadastro de título</title>
</head>
<section layout:fragment="conteudo">
	<div class="container">
		<form class="from-horizontal" method="POST" action="/titulos" th:object="${titulo}">
			<div th:insert="MensagemGeral">
			</div>
			<div th:insert="MensagemErro">
			</div>
			<div class="row justify-content-md-center">
				<div class="col-md-8">
					<div class="card text-center">
						<div class="card-header">
							<h4 class="card-title text-center">Novo Titulo</h4>
						</div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<a href="/titulos" class="btn btn-link  text-right">Pesquisa de titulos</a>
								</li>
								<li class="list-group-item">
									<input type="hidden" th:field="*{codigo}"/>
									<div>
										<label for="descricao" class="card-text">Descrição</label>
										<input type="text" class="form-control" id="descricao" th:field="*{descricao}"/>
									</div>
								</li>
								<li class="list-group-item">
									<div>
										<label for="datavencimento" class="card-text">Data de vencimento</label>
										<input type="date" class="form-control" id="datavencimento" th:text="${#dates.format(titulo.datavencimento,'dd/MM/yyyy')}" th:field="*{datavencimento}"/>
									</div>
								</li>
								<li class="list-group-item">
									<div th:classappend="${#fields.hasErrors('valor')}? has-error">
										<label for="valor" class="card-text">Valor</label>
										<input type="text" class="form-control js-currency" id="valor" th:field="*{valor}"/>
									</div>
								</li>
								<li class="list-group-item">
									<div>
										<label>Status</label>
										<select class="custom-select" th:field="*{status}">
											<option th:each="status:${todosStatusTitulo}" th:value="${status}" th:text="${status.descricao}"></option>
										</select>							
									</div>
								</li>
								<li class="list-group-item">
									<button type="submit" class="btn btn-success">Salvar</button>
								</li>
							</ul>		
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
</html>